#container {
	width: 90%;	
	border: 1px solid #ccc;
}

.top-panel, .footer-panel, .side-panel, .content-panel {
/* 	border: 1px solid #ccc; */
}

.top-panel{	
	margin-top: 0px;
	margin-bottom: 10px;
}

.footer-panel {
	margin-top: 10px;
	margin-bottom: 0px;
	color: #718EA4;
	background-color: #042037;
}

.content-panel, .side-panel{
	height: 100%:
}

.side-panel{
	min-height: 200px;
	margin: 10px 0;
}

.content-panel{
	padding-left: 10px;
	padding-right: 10px;
}

.top-panel{
	background-color: #042037;
}

.logo{
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 0px 5px;
	color: #042037;
	border: 1px solid #042037;
	background-color: #718EA4;
	font-weight: bold;
	font-family: Comic Sans MS;
	font-size: 15px;	
	float: left;	
	box-shadow: 3px 3px 10px #000;
}
.logo span{
	border: 1px solid #000;
	background-color: #fff;
	display: block;
	padding: 2px;
	margin: 2px;
	font-size: 8px;
	text-align: center;	
}
.top-panel>header {
	right: 10px;
	top: 10px;	
	position: absolute;
}

.top-panel>header>.gwt-MenuBar {
	width: 300px;
}

.side-panel ul {
	list-style: none;
	padding-left:0px;
}

.side-panel ul > li{
	list-style: none;
	padding-left: 5px;
	padding-bottom: 5px;
}

.gwt-SimplePanel{	
	width: 90%;
	margin: 0px 10px;
	border: 1px solid #ccc;
}

.gwt-StackPanelContent > div > table{
	width: 100%;
}

.context-menu{
	padding: 5px;
	border-bottom: 1px solid blue;
}

.context-menu > ul{
	margin: 0px;	
	padding: 0px;
	list-style: none;
}

.contenxt-menu > ul > li a{
	text-decoration: none;
	cursor: pointer;
}

.content-panel h2:first-of-type {
	color: #042037;
	border-bottom: 1px solid #042037;
	margin-bottom: 10px;
}

.content-panel .horizontal-section{
	margin-bottom: 10px;
}

.validation-errors{
	color: red;
}